schememetro.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://solvd.metro.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Metros">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employees">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Employee">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="firstName" type="xs:string" />
                    <xs:element name="lastName" type="xs:string" />
                    <xs:element name="profession" type="xs:string" />
                    <xs:element name="passport" type="xs:unsignedInt" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Stations">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Station">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="dateBasis" type="xs:date" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Timetable">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StartWorking" type="xs:string" />
              <xs:element name="EndWorking" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>